html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.container {
  width: 1000px;
  margin: auto;
}

.playArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 10px;
  width: 50%;
}

.card {
  height: 200px;
  width: 200px;
}

.superman {
  height: 198px;
  width: 198px;
}

.front {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 50px;
  text-align: center;
  background-color: red;
  background-image: url(assets/superman.png);
}

.back {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 50px;
  text-align: center;
}
