html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.playArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 400px;
  width: 100%;
}

.cards {
  /* width: 25px;
  height: 25px; */
  border: 1px solid black;
  border-radius: 4px;
  margin: 1px;
}
